# {{ index .Help "model" }}
default-model: gpt-4
# {{ index .Help "format-text" }}
format-text:
  markdown: '{{ index .Config.FormatText "markdown" }}'
  json: '{{ index .Config.FormatText "json" }}'
# {{ index .Help "roles" }}
roles:
  "default": []
# {{ index .Help "format" }}
format: false
# {{ index .Help "role" }}
role: "default"
# {{ index .Help "raw" }}
raw: false
# {{ index .Help "quiet" }}
quiet: false
# {{ index .Help "temp" }}
temp: 1.0
# {{ index .Help "topp" }}
topp: 1.0
# {{ index .Help "no-limit" }}
no-limit: false
# {{ index .Help "word-wrap" }}
word-wrap: 80
# {{ index .Help "prompt-args" }}
include-prompt-args: false
# {{ index .Help "prompt" }}
include-prompt: 0
# {{ index .Help "max-retries" }}
max-retries: 5
# {{ index .Help "fanciness" }}
fanciness: 10
# {{ index .Help "status-text" }}
status-text: Generating
# {{ index .Help "max-input-chars" }}
max-input-chars: 12250
# {{ index .Help "max-tokens" }}
# max-tokens: 100
# {{ index .Help "apis" }}
apis:
  openai:
    base-url: https://api.openai.com/v1
    api-key:
    api-key-env: OPENAI_API_KEY
    models:
      gpt-4:
        aliases: ["4"]
        max-input-chars: 24500
        fallback: gpt-3.5-turbo
      gpt-4-1106-preview:
        aliases: ["128k"]
        max-input-chars: 392000
        fallback: gpt-4
      gpt-4-32k:
        aliases: ["32k"]
        max-input-chars: 98000
        fallback: gpt-4
      gpt-3.5-turbo:
        aliases: ["35t"]
        max-input-chars: 12250
        fallback: gpt-3.5
      gpt-3.5-turbo-1106:
        aliases: ["35t-1106"]
        max-input-chars: 12250
        fallback: gpt-3.5-turbo
      gpt-3.5-turbo-16k:
        aliases: ["35t16k"]
        max-input-chars: 44500
        fallback: gpt-3.5
      gpt-3.5:
        aliases: ["35"]
        max-input-chars: 12250
        fallback:
  perplexity:
    base-url: https://api.perplexity.ai
    api-key:
    api-key-env: PERPLEXITY_API_KEY
    models:
      codellama-70b-instruct:
        aliases: ["codellama"]
        max-input-chars: 16384
      mistral-7b-instruct:
        aliases: ["mistral"]
        max-input-chars: 16384
      mixtral-8x7b-instruct:
        aliases: ["mixtral-8x"]
        max-input-chars: 16384
      sonar-medium-online:
        aliases: ["smo", "o"]
        max-input-chars: 1200
      sonar-medium-chat:
        aliases: ["smc"]
        max-input-chars: 16384
      sonar-small-chat:
        aliases: ["ssc"]
        max-input-chars: 16384
      sonar-small-online:
        aliases: ["sso"]
        max-input-chars: 1200
  groq:
    base-url: https://api.groq.com/openai/v1
    api-key-env: GROQ_API_KEY
    models:
      mixtral-8x7b-32768:
        aliases: ["mixtral"]
        max-input-chars: 98000
      llama2-70b-4096:
        aliases: ["llama2"]
        max-input-chars: 12250
  localai:
    # LocalAI setup instructions: https://github.com/go-skynet/LocalAI#example-use-gpt4all-j-model
    base-url: http://localhost:8080
    models:
      ggml-gpt4all-j:
        aliases: ["local", "4all"]
        max-input-chars: 12250
        fallback:
  azure:
    # Set to 'azure-ad' to use Active Directory
    # Azure OpenAI setup: https://learn.microsoft.com/en-us/azure/cognitive-services/openai/how-to/create-resource
    base-url: https://YOUR_RESOURCE_NAME.openai.azure.com
    api-key:
    api-key-env: AZURE_OPENAI_KEY
    models:
      gpt-4:
        aliases: ["az4"]
        max-input-chars: 24500
        fallback: gpt-35-turbo
      gpt-35-turbo:
        aliases: ["az35t"]
        max-input-chars: 12250
        fallback: gpt-35
      gpt-35:
        aliases: ["az35"]
        max-input-chars: 12250
        fallback:
  runpod:
    # https://docs.runpod.io/serverless/workers/vllm/openai-compatibility
    base-url: https://api.runpod.ai/v2/${YOUR_ENDPOINT}/openai/v1
    api-key: RUNPOD_API_KEY
    models:
      openchat/openchat-3.5-1210:
        aliases: ["openchat"]
        max-input-chars: 8192